@import 'tailwindcss' theme(static);
@import 'glightbox/dist/css/glightbox.css';

/* bardzo ważne dla Sage/Blade: skanowanie klas */
@source "../views/**/*.blade.php";
@source "../../app/**/*.php";
@source "../js/**/*.{js,ts,jsx,tsx}";

/* Twoje “źródłowe” zmienne RGB */
:root {
  /* base */
  --body: 42 63 80; /* #2A3F50 */

  /* primary scale (czerwony ze screena) */
  --primary: 224 45 38; /* #E02D26 - BASE */
  --p-hover: 187 38 32; /* #BB2620 */
  --p-100: 249 213 212; /* #F9D5D4 */
  --p-200: 245 185 183; /* #F5B9B7 */
  --p-300: 240 150 147; /* #F09693 */
  --p-400: 234 115 110; /* #EA736E */
  --p-500: 229 80 74; /* #E5504A */
  --p-600: 187 38 32; /* #BB2620 */
  --p-700: 149 30 25; /* #951E19 */
  --p-800: 112 23 19; /* #701713 */
  --p-900: 75 15 13; /* #4B0F0D */
  --p-dark: 45 9 8; /* #2D0908 */

  /* secondary scale (szary ze screena) */
  --secondary: 51 49 50; /* #333132 - BASE */
  --s-hover: 43 41 42; /* #2B292A */
  --s-100: 214 214 214; /* #D6D6D6 */
  --s-200: 187 186 187; /* #BBBABB */
  --s-300: 153 152 153; /* #999899 */
  --s-400: 119 118 118; /* #777676 */
  --s-500: 85 83 84; /* #555354 */
  --s-600: 43 41 42; /* #2B292A */
  --s-700: 34 33 33; /* #222121 */
  --s-800: 26 25 25; /* #1A1919 */
  --s-900: 17 16 17; /* #111011 */
  --s-dark: 10 10 10; /* #0A0A0A */

  /* neutrals / fixed backgrounds */
  --gray: #2a3f50;
  --bg: #fff2f2;
  --bg-lighter: #f8e9e9;
  --bg-light: #f7e5e5;
  --bg-brand: #BB2620;
  --bg-dark: #1A1919;
}

/* mapowanie na “theme variables” Tailw inda v4 (to tworzy klasy bg-*, text-*, border-*) */
@theme {
  /* base */
  --color-body: rgb(var(--body));

  /* primary */
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--p-hover));
  --color-primary-50: rgb(var(--p-50));
  --color-primary-100: rgb(var(--p-100));
  --color-primary-200: rgb(var(--p-200));
  --color-primary-300: rgb(var(--p-300));
  --color-primary-400: rgb(var(--p-400));
  --color-primary-500: rgb(var(--p-500));
  --color-primary-600: rgb(var(--p-600));
  --color-primary-700: rgb(var(--p-700));
  --color-primary-800: rgb(var(--p-800));
  --color-primary-900: rgb(var(--p-900));
  --color-primary-dark: rgb(var(--p-dark));

  /* secondary */
  --color-secondary: rgb(var(--secondary));
  --color-secondary-hover: rgb(var(--s-hover));
  --color-secondary-100: rgb(var(--s-100));
  --color-secondary-200: rgb(var(--s-200));
  --color-secondary-300: rgb(var(--s-300));
  --color-secondary-400: rgb(var(--s-400));
  --color-secondary-500: rgb(var(--s-500));
  --color-secondary-600: rgb(var(--s-600));
  --color-secondary-700: rgb(var(--s-700));
  --color-secondary-800: rgb(var(--s-800));
  --color-secondary-900: rgb(var(--s-900));
  --color-secondary-dark: rgb(var(--s-dark));

  --color-gray: var(--gray);
  --color-action: var(--action);

  --color-page: var(--bg);
  --color-background-light: var(--bg-light);
  --color-background-brand: var(--bg-brand);
  --color-background-dark: var(--bg-dark);

  --color-primary-light: var(--color-primary-300);
  --color-primary-lighter: var(--color-primary-100);

  --color-secondary-light: var(--color-secondary-300);
  --color-secondary-lighter: var(--color-secondary-100);

  --color-muted: var(--color-secondary-500);
  --gradient: linear-gradient(90deg, var(--color-primary-900) 0%, var(--color-primary-700) 100%);
  --gradient-light: linear-gradient(-90deg, #0E3A2D 0%, #0A533D 100%);
  --gradient-s: linear-gradient(-90deg, #DE855D 0%, #D37A51 100%);

}

@import '../css/variables.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'baguettebox.js/dist/baguetteBox.min.css';

/*-- USED ---*/
@import '../css/blocks/hero.scss';
@import '../css/blocks/twocolumns.scss';
@import '../css/blocks/why.scss';
@import '../css/blocks/content.scss';
@import '../css/blocks/connect.scss';
@import '../css/blocks/tiles.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/steps.scss';
@import '../css/blocks/sticky.scss';
@import '../css/blocks/reach.scss';

/*-- NOT USED --*/
@import '../css/blocks/help.scss';
@import '../css/blocks/cta-bg.scss';
@import '../css/blocks/about.scss';
@import '../css/blocks/team.scss';
@import '../css/blocks/offer.scss';
@import '../css/blocks/reviews.scss';
@import '../css/blocks/hero-about.scss';
@import '../css/blocks/who.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/places.scss';
@import '../css/blocks/member.scss';
@import '../css/blocks/hero-offer.scss';
@import '../css/blocks/tabs.scss';
@import '../css/blocks/proces.scss';
@import '../css/blocks/complex.scss';
@import '../css/blocks/works.scss';
@import '../css/blocks/category-posts.scss';
@import '../css/blocks/hero-sub.scss';
@import '../css/blocks/hero-brand.scss';
@import '../css/blocks/how.scss';
@import '../css/blocks/quote.scss';
@import '../css/blocks/services.scss';
@import '../css/blocks/twin.scss';
@import '../css/blocks/order.scss';
@import '../css/blocks/gains.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/what.scss';
@import '../css/blocks/image.scss';
@import '../css/blocks/cta.scss';
@import '../css/blocks/connect.scss';
@import '../css/blocks/gallery.scss';
@import '../css/blocks/calc.scss';
@import '../css/blocks/tlc.scss';
@import '../css/blocks/categories.scss';
@import '../css/blocks/bottom-block.scss';
@import '../css/blocks/hero-cat.scss';
@import '../css/blocks/hero-job.scss';
@import '../css/blocks/selection.scss';
@import '../css/blocks/product-hero.scss';
@import '../css/blocks/sectors.scss';
@import '../css/blocks/faq.scss';
@import '../css/blocks/values.scss';
@import '../css/blocks/cert.scss';
@import '../css/blocks/contact.scss';
@import '../css/blocks/catalogues.scss';
@import '../css/blocks/jobs.scss';
@import '../css/blocks/job.scss';
@import '../css/blocks/map.scss';
@import '../css/blocks/logos.scss';
@import '../css/blocks/locations.scss';
@import '../css/blocks/categories.scss';
@import '../css/blocks/area-block.scss';
@import '../css/blocks/cases.scss';
@import '../css/blocks/history.scss';
@import '../css/blocks/cases-slider.scss';
@import '../css/blocks/path.scss';
@import '../css/blocks/duotitle.scss';
@import '../css/blocks/inspirations.scss';
@import '../css/blocks/wysiwyg.scss';
@import '../css/blocks/coop.scss';
