.b-contact {
	.phone::before {
		/* content: url("../assets/images/phone.svg"); */
		margin-right: 16px;
		position: relative;
		top: 4px;
	}

	.mail::before {
		/* content: url("../assets/images/mail.svg"); */
		margin-right: 16px;
		position: relative;
		top: 4px;
	}

	.offer-mask {
		-webkit-mask-image: url("http://manitas.local/wp-content/uploads/2026/01/hex.svg");
		mask-image: url("http://manitas.local/wp-content/uploads/2026/01/hex.svg");
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: left center;
		-webkit-mask-size: contain;
		-webkit-mask-position: left center;
		width: 200px;
		
		img {
			max-height: 200px;
			object-fit: cover;
		}
	}
}