.b-hero {
	&.hero {
		height: calc(100vh - 120px);
		position: relative;
		overflow: hidden;
		color: white;
		padding: 120px 0;

		.hero__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			overflow: hidden;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
				z-index: 99;
				background-image: linear-gradient(
					90deg,
					rgb(0, 26, 55, 1) 0%,
					rgb(0, 26, 55, 0.5) 100%
				);
			}
		}

		.hero__video,
		.hero__poster {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}

		.hero__poster {
			z-index: 1;
			transition: opacity 0.5s;
		}

		.hero__video {
			z-index: 2;
		}

		.hero__content {
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			z-index: 3;
		}

		.hero__pretitle {
			font-size: 1.25rem;
			margin-bottom: 0.5em;
		}

		.hero__back {
			height: auto;
			width: 50%;
		}

		/*---- M --*/
		@media only screen and (max-width: 768px) {
			.hero__left {
				transform: rotate(90deg);
				top: -28%;
				left: 16%;
			}
		}

		/*--- !S ---*/
		@media only screen and (max-width: 576px) {
			.hero__left {
				top: -44%;
			}
		}
	}
}