.b-map {
	&.imgtxt {
		display: flex;
		flex-direction: column;

		ul {
			list-style: none;
			padding: 0;
			margin-top: 16px;
		}

		ul li {
			position: relative;
			padding-left: 32px;
		}

		ul li::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: 15px;
			height: 12px;
			background-image: url("/wp-content/themes/manitice/assets/images/check.svg");
			background-size: cover;
			transform: translateY(-50%);
		}

		.__map {
			iframe {
				width: 100%;
				height: 400px;
				border-radius: var(--radius, 16px);
			}
		}

		.effect .c-main {
			grid-template-columns: 1fr !important;
			
			.imgtxt__content {
				text-align: center;
				width: 60%;
				margin: 0 auto;
			}
			
			.figure img {
				border-radius: var(--radius);
			}
			
			.masked {
				mask-image: none !important;
			}
		}

		.about-us {
			.subtitle {
				font-size: 36px;
				margin-bottom: 0 !important;
			}
		}

		/*--- !M ---*/
		@media only screen and (max-width: 768px) {
			.effect .c-main {
				.imgtxt__content {
					width: 100%;
				}
			}
		}
	}
}