.b-twocols {
	&.two-cols {
		.figure-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.__hex {
			margin-left: -112px;
			max-height: 180px;
			width: 40%;
		}

		.__figure {
			width: 100%;
			height: 220px;
			object-fit: cover;
			mask-size: 100%;
		}

		/*--- !L ---*/
		@media only screen and (max-width: 992px) {
			.__hex {
				margin-left: -15%;
			}
		}
	}
}